    py::class_<{{ class.cxx_spelling }}>(m, "{{ class.python_spelling }}")
    {% for c in class.constructors %}
    .def(py::init<{% for t in c.parameters %}{{ t.type_spelling }}{% if loop.index1 < length(c.parameters) %},{% endif %}{% endfor %}>())
    {% endfor %}
    {% for m in class.methods %}
    .def(\"{{ m.name }}\", &{{ m.cxx_spelling }})
    {% endfor %};