#define PY_SSIZE_T_CLEAN
#include <pybind11/pybind11.h>

{% if standard_headers %}
#include <pybind11/stl.h>
{% endif %}
{% if eigen_headers %}
#include <pybind11/eigen.h>
{% endif %}

## for include in includes
#include <{{ include }}>
## endfor

namespace py = pybind11;

PYBIND11_MODULE({{ module_name }}, m) {
{% for class in classes %}
{% include "class.template" %}
{% endfor %}

{% for function in functions %}
m.def("{{ function.name }}", &{{ function.name}} );
{% endfor %}
}
